<!DOCTYPE html>
<html>
<head>
  <title>Rainforest1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="nav">
<%= link_to "Home", "/" %> | <%= link_to "New Product", "/products/new" %> | <%= link_to "Top Products", "/products/new" %> 
</div>
<%= yield %>

</body>
</html>
